@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap') ;

body {
    background-color: #00428a;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px;
}

div {
margin: 20px;
}



.bloque1 {
    display: flex;
}


.bloque2 {
    display: flex;
}

input[type=email] {    
border: none;    
width: 200px;   
height: 30;   
padding-left: 5px;  
font-size: 10px;
border: 2px solid lightseagreen;   
border-radius: 2px;
outline: none;  
}

@media (max-width: 1400px) and (min-width: 599px) {footer {
    display: flex;
    flex-wrap: wrap;
}
}

@media (max-width: 1400px) and (min-width: 599px) {footer {
    display: flex;
    flex-wrap: wrap;
}
}