@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
 body {
     background-color: #00428a;
     color: #fff;
     font-family: "Montserrat", sans-serif;
     margin: 0px;
}
 footer {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding:0px 60px 10px 60px;
     margin: 10px 20px 10px 20px;
     font-size:14px;
     text-align:left;
}
.bloque1 {
    display: flex;
}
h1{
    letter-spacing: 0px;
    font-size: 34px;
    font-weight: normal;
}       
 .wayne  {
     padding: 0 15px 15px 15px;
     width: 300px;
     flex: 0 0 50%;
     
}
 .useful-links {
     padding: 15px;
     width: 200px;
     flex: 0 0 50%;
}

 .bloque2 {
     display: flex;
}
.social {
    padding: 15px;
    width: 200px;
    flex: 0 0 50%;
}
.suscription{
    padding: 15px;
    width: 300px;
    flex: 0 0 50%;

}
 span {
     font-weight: bold;
}
 i {
     color: #fff;
     border-radius: 50%;
     transition:0.5s;
}
 .fab {
     padding: 8px;
     margin: 2px;
     border-radius: 50%;
     background-color: #007bff;
     color: #fff;
}
form{ display: flex;
    margin: 0;
    
}
 input[type=email] {
     border: none;
     width: 65%;
     height: 35px;
     font-size: 16px;
     line-height: 16px;
     padding: 0;
}
 input[type="submit"] {
     background: #007bff;
     border: none;
     width: 35%;
     height: 35px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     transition: 0.5s;
     cursor: pointer;
     padding: 0;
}
 [type=submit]:hover {
     background-color: #0669d3;
}
 i:hover {
     background-color: #0669d3;
}
 ul {
     padding-inline-start: 0px;
}
 li, a{
     line-height: 24px;
     list-style: none;
     color: #fff;
     text-decoration:none;
     transition:0.5s;
}
 a:hover {
     color:lightskyblue;
}
 @media (max-width: 1000px) and (min-width: 601px) {
     footer {
         flex-wrap: wrap;
    }
    footer div {
        flex: 0 0 50%;
    }


}
 @media(max-width: 600px){
     footer {
         flex-direction: column;
         justify-content: center;
    }
     .bloque1 {
         flex-wrap: wrap;
         padding: 0px;
         margin: 0px;
    }
     .bloque2 {
         flex-wrap: wrap;
         padding: 0px;
         margin: 0px;
    }
}
 .copyright {
     height: 70px;
     background-color:darkblue;
     padding-top:20px;
     padding-bottom: 10px;
     display:block;
     text-align:center;
     color:#fff;
     font-size:14px;
     margin: 0;
}
 