@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

 body {
     background-color: #00428a;
     color: #fff;
     font-family: "Montserrat", sans-serif;
     margin: 0px;
}
 footer {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding:0px 20px 10px 20px;
     margin: 10px 50px 10px 50px;
     font-size:14px;
     text-align:left;
}
 div {
     margin: 20px;
}
.bloque1 {

    display: flex;
}

.wayne {
    width: 350px;
     margin-top:0px; 
       
}
h1{
    letter-spacing: 0px;
    font-size: 34px;
    font-weight: normal;
}
.useful-links {
    width: 150px;
}

.bloque2 {
    display: flex;
}


 .social {
    width: 200px;
  
    
}
.suscription {
    width: 300px;
}
span {
    font-weight: bold;
}
i {
    color: #fff;
    border-radius: 50%;
}
.fab {
    padding: 8px;
    margin: 2px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
}




input[type=email] {    
border: 0;    
width: 200px;   
height: 35;   
padding: 6px 8px;  
font-size: 16px;
border: 2px solid transparent;   
line-height: 16px;
}

input[type="submit"] {
background: #007bff;
border: 0;
width: 80px;
height: 35px;
padding: 6px 0;
text-align: center;
font-size: 14px;
color: #fff;
transition: 0.3s;
cursor: pointer;
}
input:hover {
    background-color: #0669d3;
    transition:0.5;
    }
 i:hover {
     background-color: #0669d3;
     transition:0.5;
}
ul {
    padding-inline-start: 0px;
}

li, a{
line-height: 24px;
list-style: none;
color: #fff;
text-decoration:none;
}

a:hover {
    color:lightskyblue;
    transition:0.5;
}


 @media (max-width: 1400px) and (min-width: 601px) {
     footer {
         display: flex;
         flex-wrap: wrap;
        
}}

@media(max-width: 600px){ 
    footer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .bloque1 {
    display: flex;
    flex-wrap: wrap;
    }
    .bloque2 {
    display: flex;
    flex-wrap: wrap;
    }
    }



.copyright {
    background-color:darkblue;
    padding-top:40px;
    display:block;
    text-align:center;
    color:#fff;
    font-size:10px;
    margin: 0;
}

