@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap') ;

body {
    background-color: #00428a;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px;
}

div {
margin: 20px;
}

span {
    font-weight: bold;
}

i {
    color: #fff;
    border-radius: 50%;
}

.bloque1 {
    display: flex;
}

.bloque2 {
    display: flex;
}

.fab {
padding: 8px;
margin: 2px;
border-radius: 50%;
background-color: #007bff;
color: #fff;
}

input[type=email] {    
border: none;    
width: 200px;   
height: 30;   
padding-left: 5px;  
font-size: 10px;
border: 2px solid lightseagreen;   
border-radius: 2px;
outline: none;  
}

li {
line-height: 24px;
list-style: none;
}

@media (max-width: 1400px) and (min-width: 599px) {footer {
    display: flex;
    flex-wrap: wrap;
}
}

i:hover {
background-color: #0669d3;
}